<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p>Staging: <code>https://bus.staging.ritdu.tech/v1/</code></p>
<p>PROD: <code>https://bus.ritdu.net/v1/</code></p>
<p><strong>Note:</strong> the url need to end with a trailing slash</p>
