<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p>Consider using the <strong>channel ID</strong>, so that if you change your channel's name, nothing breaks!</p>
<pp>E.g: <code>C01UMJSK5FY</code></pp>
