<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p><strong>Note:</strong> Make sure you switch to ON to enable this feature</p>
<p>Feel free to adjust the name of your primary category. By default it uses a sanitized version of your domain name.</p>
