<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">&nbsp;Minutes
<p>Note: This is a number and represents <strong>Minutes</strong></p>
<p>E.g: <strong>use 30 by default</strong></p>
